<h1><%= @pin.title %></h1>


<!-- add user name: <h3>< @post.author</h3> -->

<%= image_tag(@pin.photo_url, class: "pin-photo") %>

<div>
  <p><%= @pin.description %></p>
</div>
<%= link_to "edit pin (+)", edit_board_pin_path(@board, @pin) %>
